.container {
  margin: 0 auto;  
  width: 720px;
}


li {
  list-style-type: none;
  display: inline-block;
  padding: 0px 20px 0px 0px;
}

nav {
  border-top: 1px solid;
}

nav ul {
  padding-left: 0px;
  padding-bottom: 0px;
}

.content {
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
}

.footer {
  padding: 20px 0 20px 0;
}
